/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.pi-image {
  width:300px; /* you can use % */
  height: auto;
  padding-bottom: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.sg-image {
  width:150px; /* you can use % */
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.ep-image {
  width:150px; /* you can use % */
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  padding-top: 3em;
}

.up-image {
  width:150px; /* you can use % */
  height: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-right: 1em;
}

.download-header {
  color: #000000;
}